<nav class="container-fluid navbar bg-light">
  <h3 class="text-danger">My App</h3>
  <div class="navbar p-2 gap-3 me-5">
    <div class="dropdown">
      <a class="btn btn-outline-danger dropdown-toggle m-2" role="button" data-bs-toggle="dropdown">
        RecipeModel Book
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">save</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">fetch</a></li>
      </ul>
    </div>

    <div class="dropdown">
      <a class="btn btn-outline-danger dropdown-toggle m-2" role="button" data-bs-toggle="dropdown">
        Shopping List
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">save</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">fetch</a></li>
      </ul>
    </div>
  </div>
</nav>
